<!-- <p>{{"Server"}} with ID {{serverId}} is {{ getServerStatus()}}. </p> -->
<p [ngStyle]="{backgroundColor: getColor()}"
[ngClass]="{online: serverStatus === 'online'}">Server is {{serverStatus}}</p>



